@layer base {

:root {
  --font-mono: 'Roboto Mono', monospace;
}

h1,
h2,
h3 {
  font-family: var(--font-instrument-serif), 'Instrument Serif', serif;
  font-weight: 400;
  color: var(--color-brand-navy);
}

h2 {
  font-size: var(--text-4xl);
  line-height: var(--text-4xl--line-height);
}

h3 {
  font-size: var(--text-3xl);
  line-height: var(--text-3xl--line-height);
}

* {
  box-sizing: border-box;
}

html {
  font-size: 18px;
  line-height: 32px;

  background: rgb(255, 255, 255);
  -webkit-font-smoothing: antialiased;
}

html,
body,
#app {
  height: 100%;
}

body {
  font-family: system-ui;
  font-size: 18px;
  line-height: 32px;

  margin: 0;
  color: rgb(20, 20, 20);

  @media (max-width: 1024px) {
    font-size: 15px;
    line-height: 24px;
  }
}

img {
  max-width: 100%;
  height: auto;
  display: block;
}

h1 {
  margin: 40px 0;
  font-size: var(--text-5xl);
  line-height: var(--text-5xl--line-height);

  @media (max-width: 1024px) {
    margin: 24px 0;
  }
}

p {
  margin: 24px 0;

  @media (max-width: 1024px) {
    margin: calc(var(--base) * 0.75) 0;
  }
}

a {
  color: currentColor;

  &:focus {
    opacity: 0.8;
    outline: none;
  }

  &:active {
    opacity: 0.7;
    outline: none;
  }
}

svg {
  vertical-align: middle;
}

}
